<html>
<head>

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/style.css" />

<meta property="og:description" content="Extra Life leaderboard for team <%= name %>" />
<meta property="og:image" content="<%= avatarImageURL %>" />

<title><%= name %></title>

<script>
window.setTimeout(function(){location.reload();}, 900000); // Refresh every 15 minutes
</script>

</head>

<body>

<table>
	<tr>
		<td class="avatar"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=<%= teamID %>"><img src="<%= avatarImageURL %>" /></a></td>
		<td class="company name"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=<%= teamID %>"><%= name %></a></td>
		<td class="projectProgress">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= totalRaisedAmountFormatted %> / <%= fundraisingGoalFormatted %></div>
		</td>
		<td class="donate"></td>
	</tr>

	<% members.forEach(function(person){ %>
	<tr>
		<td class="avatar"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=<%= person.participantID %>"><img src="<%= person.avatarImageURL %>" /></a></td>
		<td class="name"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=<%= person.participantID %>"><%= person.firstName %> <%= person.lastName %></a></td>
		<td class="projectProgress">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (person.percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= person.totalRaisedAmountFormatted %> / <%= person.fundraisingGoalFormatted %></div>
		</td>
		<td class="donate"><a target="_blank" href="https://www.extra-life.org/index.cfm?fuseaction=donate.participant&participantID=<%= person.participantID %>">Donate</a></td>
	</tr>
	<% }); %>
</table>

</body>
</html>
