<html>
<head>

<style>

table {
	width: 100%;
}

td.avatar {
	width: 120px;
	text-align: center;
}

td.avatar img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

td.name {
	width: 350px;
}

td.company {
	font-size: 200%;
}

td.donate {
	text-align: right;
	width: 100px;
}

/* Progress bars */

td.projectProgress 
{
   width: auto;
   position: relative;
   padding: 0px 12px !important;
}

.projectProgress span 
{
   background-color: red;
   display: block;
   position: absolute;
   height: 100%;
}

/* Position the progress bar and amount on top of one another */
.progressAmountContainer,
.progressBarContainer 
{
   white-space: nowrap;
   overflow: hidden;
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   height: 60px;
}

.progressBarContainer 
{
   background: rgba(25, 25, 25, .1);
}

.progressAmountContainer
{
	font-size: 50px;
	padding-left: 20px;
}

.projectProgress.blue span.progressBar 
{
   background-color: #006be3;
}


/* End Progress bars */


</style>
</head>

<body>

<table>
	<tr>
		<td class="avatar"><img src="<%= avatarImageURL %>" /></td>
		<td class="company name"><%= name %></td>
		<td class="projectProgress blue">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= totalRaisedAmount %> / <%= fundraisingGoal %></div>
		</td>
		<td class="donate"></td>
	</tr>

	<% members.forEach(function(person){ %>
	<tr>
		<td class="avatar"><img src="<%= person.avatarImageURL %>" /></td>
		<td class="name"><a href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=<%= person.participantID %>"><%= person.firstName %> <%= person.lastName %></a></td>
		<td class="projectProgress blue">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (person.percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= person.totalRaisedAmount %> / <%= person.fundraisingGoal %></div>
		</td>
		<td class="donate"><a href="https://www.extra-life.org/index.cfm?fuseaction=donate.participant&participantID=<%= person.participantID %>">Donate</a></td>
	</tr>
	<% }); %>
</table>

</body>
</html>
