<html>
<head>
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<meta property="og:description" content="Extra Life leaderboard for team <%= name %>" />
<meta property="og:image" content="<%= avatarImageURL %>" />

<style>

body {
	font-family: NeuzeitGro,sans-serif;
}

table {
	width: 100%;
	color: #061b2b;
}

a {
	text-decoration: none;
}

td.avatar {
	width: 120px;
	text-align: center;
}

td.avatar img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

td.name {
	width: 450px;
	font-size: 40px;
}

td.name,
a,
a:visited {
	color: #212844;
}


td.company {
	font-weight: bold;
}

td.donate {
	text-align: right;
	width: 100px;
}

/* Progress bars */

td.projectProgress 
{
   width: auto;
   position: relative;
   padding: 0px 12px !important;
}

.projectProgress span 
{
   display: block;
   position: absolute;
   height: 100%;
}

/* Position the progress bar and amount on top of one another */
.progressAmountContainer,
.progressBarContainer 
{
   white-space: nowrap;
   overflow: hidden;
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   height: 60px;
}

.progressBarContainer 
{
   background: rgba(25, 25, 25, .1);
}

.progressAmountContainer
{
	font-size: 50px;
	padding-left: 20px;
}

.projectProgress span.progressBar 
{
   background-color: #bdecde;
}


/* End Progress bars */


</style>
</head>

<body>

<table>
	<tr>
		<td class="avatar"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=<%= teamID %>"><img src="<%= avatarImageURL %>" /></a></td>
		<td class="company name"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=<%= teamID %>"><%= name %></a></td>
		<td class="projectProgress">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= totalRaisedAmountFormatted %> / <%= fundraisingGoalFormatted %></div>
		</td>
		<td class="donate"></td>
	</tr>

	<% members.forEach(function(person){ %>
	<tr>
		<td class="avatar"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=<%= person.participantID %>"><img src="<%= person.avatarImageURL %>" /></a></td>
		<td class="name"><a target="_blank" href="http://www.extra-life.org/index.cfm?fuseaction=donorDrive.participant&participantID=<%= person.participantID %>"><%= person.firstName %> <%= person.lastName %></a></td>
		<td class="projectProgress">
			<div class="progressBarContainer"><span class="progressBar" style="width: <%= (person.percentageTowardGoal * 100) %>%;"></span></div>
			<div class="progressAmountContainer"><%= person.totalRaisedAmountFormatted %> / <%= person.fundraisingGoalFormatted %></div>
		</td>
		<td class="donate"><a target="_blank" href="https://www.extra-life.org/index.cfm?fuseaction=donate.participant&participantID=<%= person.participantID %>">Donate</a></td>
	</tr>
	<% }); %>
</table>

</body>
</html>
